<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Details Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

        {{#if error}}
        <div class="error-container">
            <p>{{error}}</p>
        </div>
        {{/if}}

        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/posts">All Posts</a></li>
                {{#if isAuthenticated}}
                <li><a href="/create">Create Post</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>

        </nav>


        <main>

            <section id="details-page">

                <div class="main_card">
                    <div class="card_left">
                        <div class="card_datails">

                            <h1>Name: {{creature.name}}</h1>
                            <h3>Created by an author: {{creature.owner.firstName}} {{creature.owner.lastName}}</h3>
                            <div class="card_character">
                                <p class="card-species">Species: {{creature.species}}</p>
                                <p class="card-skin">Skin colour: {{creature.skinColor}}</p>
                                <p class="card-eye">Eye Colour: {{creature.eyeColor}}</p>
                            </div>

                            <p class="disc">Description: {{creature.description}}</p>

                            {{#if isAuthenticated}}
                            <div class="social-btn">
                                {{#if isOwner}}
                                <a href="/edit/{{creature._id}}" class="edit-btn">Edit</a>
                                <a href="/delete/{{creature._id}}" class="del-btn">Delete</a>
                                {{else}}
                                {{#if isVoted}}
                                <p class="thanks-for-vote">Thanks For Voting</p>
                                {{else}}
                                <a href="/vote/{{creature._id}}" class="vote-up">Vote</a>
                                {{/if}}
                                {{/if}}
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card_right">
                        <img src="{{creature.image}}" alt="image">
                    </div>
                </div>

            </section>

            <section id="votes">
                <div class="vote-info">
                    <div class="card_left">
                        <div class="card_datails">
                            <h1>Votes</h1>
                            <div class="card_vote">
                                <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
                                <p class="PV">Total rating of votes: {{creature.votes.length}}</p>
                            </div>
                            {{#if voteList}}
                            <p class="disc">People who voted for the post - {{voteList}}</p>
                            {{else}}
                            <p class="disc">People who voted for the post - No one has voted yet.</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>

        </main>


        <footer>
            © JS Back-End Exam 2023
        </footer>
    </div>

</body>

</html>